{% extends 'movieapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<body>

    <div class="container bg-light shadow-md p-5 form-layout">
        <h6> Edit your content </h6>
        <hr>
        <br>



        <form method="POST" enctype="multipart/form-data" autocomplete="off">  <!-- enctype attribute here -->
            {% csrf_token %}
            {{ form|crispy }}



            <button type="submit" class="btn btn-primary">

                Submit &nbsp; <i class="fa fa-check" aria-hidden="true"></i>

            </button>

            &nbsp;

            <a href="{% url 'dashboard' %}" class="btn btn-secondary">


                Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>

            </a>


        </form>

    </div>

    <br>

</body>


{% endblock %}


